.logo{
    width: 7%;
}
.botonBuscar{
    color: orange;
    background-color: rgb(128, 128, 128);
    border-color: orange;
    width: 30%;
}
.fondomain{
    width: 100%;
    height: 100%;
  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  object-fit: cover; /* Ajusta la imagen para cubrir todo el contenedor */
  position: relative;
}

.carousel-nos{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* La imagen tendrá un z-index menor */
    object-fit: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    }
.contenedorForm{
    z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  align-items: center;
  left: 50%;
  background-color: rgb(231, 231, 231);
}

/*
.lupaBusqueda{
    max-width: 100%;
    height: 10%;
}
*/