.logo{
    width: 7%;
}
.footer-division{
    border-top: solid;
    border-color: #0d0c22;
    border-width: 1px;
  }
  .footer-ide{
    margin-top: 4%;
    margin-bottom: 1%;
   
}

  .logo-footer{
    width: 65%;/*tamaño del logo en el footer :v*/
  }
  .texto{
    text-align: left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
  }
  .texto-aparte{
    margin-left: 5%;
    text-align: left;
    text-decoration:solid;
    font-style: italic;
    font-weight: bolder;
  }
  .titulo{
    margin-top: 1%;
    margin-left: 5%;
    text-align: left;
    font-size: larger;
    font-style:normal;
    font-weight: bold;
  }
  .texto{
    margin:0 0 2% 5%;
  }
  main{
    background-color: rgb(255, 240, 228);
  }
  .mapa{
    align-items: center;
  }
